@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common styling */

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.same-font {
    font-family: 'Hanken Grotesk', sans-serif;
}


/* Styling of home and introduction content*/

.home {
    background-image: linear-gradient(135deg, rgb(65, 226, 150), rgb(0, 196, 238) 75%);
    height: 780px;
}

.navbar {
    margin: 0 50px;
}

.logo {
    font-size: 80px;
    font-weight: bolder;
    color: white;
    font-family: 'Bungee Inline', cursive;
}

.nav-item {
    font-size: 1.375rem;
    margin: 0 20px;
}

.intro {
    margin-top: 190px;
    text-align: center;
}

.name {
    margin-bottom: 2px;
    font-family: 'Sacramento', cursive;
    font-size: 7rem;
}

/* Styling of about content */

.about {

    flex-direction: column;
    width: 50%;
    margin: 60px auto;
}

.about img {
    width: 220px;
    height: 220px;
}

.text {
    font-weight: bold;
    font-size: 2.188rem;
    margin-top: 14px;
}

.description {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;

}


/* Styling of skill content */

.skills {
    flex-direction: column;
}

.nav-heading {

    font-size: 4.063rem;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 50px;
    text-align: center;
}

.heading {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.skill-logo {
    width: auto;
    height: 85px;
    margin: 60px 30px;
}

/* Styling of project content */

.center-card {
    margin-bottom: 50px;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    background-image: cover;
}

/* Styling of contact content */
.contact-text {
    margin-top: 20px;
    text-align: center;
    font-size: 1.563rem;

}

.btn {
    margin: 40px;
}

.btn a {
    border: 1px solid;
    padding: 8px 20px;
    margin: 20px;
    font-size: 1.563rem;
    text-decoration: none;
    color: black;
    background-color: rgb(65, 226, 150);

    border-radius: 8px;
}


footer {
    width: 100%;
    height: 140px;
    background-color: rgb(65, 226, 150);
}

.copyright {
    font-size: 1.125rem;
    text-align: center;

}

.icon a {
    margin: 18px 20px;
    color: white;
    font-size: 35px;
}


/* Media query */

@media (max-width: 1080px) {
    .home {
        height: 100%;
    }

    .navbar {
        margin: 0;
        text-align: center;
    }

    .intro {
        font-size: 1.38rem;
        padding-bottom: 100px;
    }

    .skill-logo {
        display: inline-block;
    }
}